.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--no-desktop-drawer-button
    header.mdl-layout__header
        .mdl-layout-icon
        .mdl-layout__header-row
            a(href='/')
                span.mdl-layout__title Kek
            .mdl-layout-spacer
            nav.mdl-navigation.mdl-layout--large-screen-only
                li.dropdown
                    a#dropdown(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Ranking
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/ranking") Summoners
                        li.divider
                        li
                            a(href="/ranking/champions") Champions
                        li.divider
                        li.dropdown-submenu
                            a(tabindex="-1" href="#") Roles
                            ul.dropdown-menu
                              li
                                a(tabindex="-1" href="#") Second level
                            
                a.mdl-navigation__link(href='/') Home
    .mdl-layout__drawer
        span.mdl-layout__title Kek
        nav.mdl-navigation
            a.mdl-navigation__link(href='/') Home
            a.mdl-navigation__link(href='/ranking') Ranking
    main.mdl-layout__content
        .page-content
