.mdl-layout.mdl-js-layout.mdl-layout--no-desktop-drawer-button.mdl-layout--fixed-header
    header.mdl-layout__header
            .mdl-layout__header-row
              span.mdl-layout-title Kek
              .mdl-layout-spacer
              nav.mdl-navigation.mdl-layout--large-screen-only
                a.mdl-navigation__link(href='/') Home
                a.mdl-navigation__link(href='/ranking') Ranking
            .mdl-layout__drawer
                span.mdl-layout-title Kek
                nav.mdl-navigation
                  a.mdl-navigation__link(href='/') Home
                  a.mdl-navigation__link(href='/ranking') Ranking
    main.mdl-layout__content
        .page-content