extends base
block vars
    - var title = 'Home'
block body
    include ./includes/navbar.pug
        .container.form-container
            .row
                .col-lg-12
                    h1 kek
                    form(action='/', method='post')
                        div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
                            input(type='text' name='key', class='mdl-textfield__input', id='key')
                            label(class='mdl-textfield__label', for='key') Key
                        div(class='mdl-select')
                            select(name='region', id='region', class='region-dropdown')
                                option(value='eune') EUNE
                                option(value='euw') EUW
                        div
                            input(type='submit', value='Search', class='mdl-button mdl-js-button mdl-button--raised')