extends base
block vars
    - var title = 'Home'
block body
    script(src='/static/scripts/home.js' async)
    include ./includes/navbar.pug
        .container
            .row.form-container
                .col-md-12.page-title
                    h1 kek
                .col-md-12.search
                    form(action='/', method='post')
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input#key.mdl-textfield__input(type='text' name='key')   
                            label.mdl-textfield__label(for='key') Summoner name
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select
                            input.mdl-textfield__input(value='EUNE' type='text' readonly='' tabindex='-1' name='region' id='region' class='region-dropdown')
                            ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='region')
                                li.mdl-menu__item EUNE
                                li.mdl-menu__item EUW
                                li.mdl-menu__item BR
                                li.mdl-menu__item LAN
                                li.mdl-menu__item LAS
                                li.mdl-menu__item NA
                                li.mdl-menu__item OCE
                                li.mdl-menu__item RU
                                li.mdl-menu__item TR
                        .button
                            input(type='submit', value='Search', class='mdl-button mdl-js-button mdl-button--raised')
                .col-md-12.general-points
                    h2#total
                      .mdl-spinner.mdl-js-spinner.is-active
                .col-md-12.more-stats
                    button(class='mdl-button mdl-js-button mdl-button--icon' id='scroll')
                        i.material-icons keyboard_arrow_down
        .container-fluid.layout.home-second-row
            .row.first-row
                .col-md-6
                    h3.header-list Best Champions
                    ul.mdl-list#champions
                .col-md-6
                    h3.header-list Best Roles
                    ul.mdl-list#roles
            .row
                .col-md-6
                .col-md-6
                    canvas(id="rolesChart" width="200" height="200")

