extends base
block vars
    - var title = 'Home'
block body
    include ./includes/navbar.pug
        .container.layout
            .row.form-container
                .col-md-12.page-title
                    h1 kek
                .col-md-12.search
                    form(action='/', method='post')
                        input(type='text' name='key' class='search-input' id='key')
                        select(name='region', id='region', class='region-dropdown')
                            option(value='eune') EUNE
                            option(value='euw') EUW
                            option(value='br') BR
                            option(value='lan') LAN
                            option(value='las') LAS
                            option(value='na') NA
                            option(value='oce') OCE
                            option(value='ru') RU
                            option(value='tr') TR
                        .button
                            input(type='submit', value='Search', class='mdl-button mdl-js-button mdl-button--raised')
                .col-md-12.more-stats
                    button(class='mdl-button mdl-js-button mdl-button--icon' id='scroll')
                        i.material-icons keyboard_arrow_down
            .row.first-row
                .col-md-12.champions-list
                     ul
                        li.first Bard 
                            img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png' class='icon-responsive') 
                            span 324958
                        li.second Aatrox
                            img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png' class='icon-responsive') 
                            span 324958
                        li.third Soraka
                            img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png' class='icon-responsive') 
                            span 324958