extends base
block vars
    - var title = 'Rankings'
block body
    script(src="/static/scripts/pagination.js" async)
    include ./includes/navbar.pug
        .container.layout
            .row
                .col-md-6.role-centered
                    h1 
                        a(href='/ranking') Summoners
                    h3 sub info
                .col-md-6.role-centered
                    h1 
                        a(href='/ranking/champions') Champions
                    h3 sub info
            .row
                .col-md-6.role-centered
                    h3 Pick role to see ranking
                    .table-responsive
                      table.mdl-data-table.mdl-js-data-table.champions-table#roles
                          thead
                              tr
                                th.mdl-data-table__cell--non-numeric Role
                          tbody
                              tr(class="tr-link" data-href="/ranking/role/assassin")
                                td.mdl-data-table__cell--non-numeric
                                    img(src='/static/roles/assassin.png')
                                    a(href='/ranking/role/assassin') Assassin
                              tr(class="tr-link" data-href="/ranking/role/fighter")
                                td.mdl-data-table__cell--non-numeric
                                    img(src='/static/roles/fighter.png')
                                    a(href='/ranking/role/fighter') Fighter
                              tr(class="tr-link" data-href="/ranking/role/marksman")
                                td.mdl-data-table__cell--non-numeric
                                    img(src='/static/roles/marksman.png')
                                    a(href='/ranking/role/marksman') Marksman
                              tr(class="tr-link" data-href="/ranking/role/support")
                                td.mdl-data-table__cell--non-numeric
                                    img(src='/static/roles/support.png')
                                    a(href='/ranking/role/Support') Support
                              tr(class="tr-link" data-href="/ranking/role/tank")
                                td.mdl-data-table__cell--non-numeric
                                    img(src='/static/roles/tank.png')
                                    a(href='/ranking/role/tank') Tank
                              tr(class="tr-link" data-href="/ranking/role/mage")
                                td.mdl-data-table__cell--non-numeric
                                    img(src='/static/roles/mage.png')
                                    a(href='/ranking/role/mage') Mage
                .col-md-6.role-centered
                    h3  Pick champion to see ranking
                    .table-responsive#responsive
                      table.mdl-data-table.mdl-js-data-table.champions-table.rankings-table
                          thead
                              tr
                                th.mdl-data-table__cell--non-numeric Champion
                          tbody#rankings
                                                            .ui.large.loader.ajaxSpinner.active
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                            tr.v
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA