extends base
block vars
    - var title = 'Summoner'
append block head
    script(src='/static/scripts/responsive.js' async)
block body
            include ./includes/navbar.pug
                .container.layout
                    .row.summoner-row
                        .col-md-8
                            .col-md-6.division
                                span.main-info Gold III
                                img(src='http://vignette1.wikia.nocookie.net/leagueoflegends/images/7/77/GoldBadgeSeason2.png/revision/latest?cb=20130928162204' alt='Division Icon')
                                span.sub-info Maestro Yi's Agents
                            .col-md-6.summoner
                                img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/588.png' alt='Summoner Icon')
                                p.summoner-info
                                    span.main-info Nick 30
                                    br
                                    span.sub-info EUNE
                        .col-md-4
                            .col-md-12.stats
                                div.stats-info
                                    span 1231
                                    span.stats-right Games Played
                                div.stats-info
                                    span 436 
                                    span.stats-right Wins
                                div.stats-info
                                    span 1231
                                    span.stats-right Games Played
                                div.stats-info
                                    span 436 
                                    span.stats-right Wins
                                div.stats-info
                                    span 1231
                                    span.stats-right Games Played
                                div.stats-info.last
                                    span 436 
                                    span.stats-right Wins
                    .row
                        .col-md-12
                            div(class='mdl-tabs mdl-js-tabs')
                                div(class='mdl-tabs__tab-bar')
                                    a(href='#overview' class='mdl-tabs__tab is-active') Overview
                                    a(href='#champions' class='mdl-tabs__tab') Champions
                                div(class='mdl-tabs__panel is-active' id='overview')
                                    .container
                                        .row.first-row
                                            .col-md-12.role-centered
                                                h1 You are Assasin
                                            .col-md-12.role-centered
                                                h2 100000
                                                span.ranking-position #124 in global ranking
                                            .col-md-12.role-centered.best-champ-column
                                                .big-icon.icon
                                                    span Aatrox
                                                    img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png')
                                                    span 12523
                                            .col-md-12.more-stats
                                                P SEE MORE STATS
                                                button(class='mdl-button mdl-js-button mdl-button--icon' id='scroll')
                                                    i.material-icons keyboard_arrow_down
                                        .row.second-row
                                            .col-md-7.icons-container
                                                .outer-icon.icon.silver
                                                    img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png' class='img-responsive')
                                                    h3 Atrox
                                                    h4 346346
                                                .big-icon.icon
                                                    img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png')
                                                    h3 Atrox
                                                    h4 1215
                                                .outer-icon.icon.bronze
                                                    img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png')
                                                    h3 Atrox
                                                    h4 20000
                                            .col-md-5.roles-ranking
                                                div.position
                                                    span 1. Icon
                                                    span.stats-right 2000
                                                div.position
                                                    span 2. Icon
                                                    span.stats-right 2000
                                                div.position
                                                    span 3. Icon
                                                    span.stats-right 2000
                                                div.position
                                                    span 4. Icon
                                                    span.stats-right 2000
                                                div.position
                                                    span 5. Icon
                                                    span.stats-right 2000
                                div(class='mdl-tabs__panel' id='champions')
                                    .container
                                        .row.champions-table-row
                                            .col-md-12
                                                table.mdl-data-table.mdl-js-data-table.champions-table
                                                    thead
                                                        tr
                                                            th #
                                                            th.mdl-data-table__cell--non-numeric Name
                                                            th.mdl-data-table__cell--non-numeric Roles
                                                            th Points
                                                            th Games Played
                                                            th Winrate
                                                            th KDA
                                                    tbody
                                                        tr
                                                            td 1
                                                            td.mdl-data-table__cell--non-numeric Bard
                                                            td.mdl-data-table__cell--non-numeric Assassin
                                                            td 12545
                                                            td 10
                                                            td 65%
                                                            td 10.5
                                                        tr
                                                            td 2
                                                            td.mdl-data-table__cell--non-numeric Bard
                                                            td.mdl-data-table__cell--non-numeric Assassin
                                                            td 12545
                                                            td 10
                                                            td 65%
                                                            td 10.5
                                                        tr
                                                            td 3
                                                            td.mdl-data-table__cell--non-numeric Bard
                                                            td.mdl-data-table__cell--non-numeric Assassin
                                                            td 12545
                                                            td 10
                                                            td 65%
                                                            td 10.5