extends base
block vars
    - var title = 'Summoner'
block body
            script(type='text/javascript').
                var summonerData = !{JSON.stringify(summoner)};
            script(src='/static/scripts/summoner.js' async)
            script(src='/static/scripts/overview.js' async)
            script(src='/static/scripts/champions.js' async)
            include ./includes/navbar.pug
                .container.layout
                    .row.summoner-row
                            .col-md-6.summoner
                                    img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/' + summoner.identity.profileIconId + '.png' alt='Summoner Icon')
                                    p.summoner-info
                                        span.main-info #{summoner.identity.name} 
                                        br
                                        span.lvl Level #{summoner.identity.summonerLevel}
                                        br
                                        span.sub-info #{summoner.identity.region.toUpperCase()}
                                        br
                                        span.sub-info#tier
                    .row
                        .col-md-12
                            div(class='mdl-tabs mdl-js-tabs')
                                div(class='mdl-tabs__tab-bar')
                                    a(href='#overview' class='mdl-tabs__tab is-active') Overview
                                    a(href='#champions' class='mdl-tabs__tab' id='championsTab') Champions
                                div(class='mdl-tabs__panel is-active' id='overview')
                                    .container.overview
                                        .row.first-row
                                            .col-md-12.role-centered
                                                h1#totalPoints
                                                    .mdl-spinner.mdl-js-spinner.is-active#spinner
                                                span.ranking-position#global
                                            .col-md-12.role-centered.mastery
                                                h3 MASTERY SCORE
                                                h3#masteryScore
                                            .col-md-6.champions-list
                                                ul.champions.mdl-list
                                            .col-md-6.roles-list
                                                ul.roles.mdl-list
                                            .col-md-12.more-stats
                                                button(class='mdl-button mdl-js-button mdl-button--icon' id='scroll')
                                                    i.material-icons keyboard_arrow_down
                                        .row.second-row
                                            .col-md-4
                                                .col-md-12.stats
                                                    div.stats-info
                                                        span Ranked Games Played
                                                        span.stats-right#played 
                                                    div.stats-info
                                                        span Wins
                                                        span.stats-right#wins 
                                                    div.stats-info
                                                        span Losses
                                                        span.stats-right#losses 
                                                    div.stats-info.last
                                                        span Winrate
                                                        span.stats-right#winrate 
                                            .col-md-4.roles-chart
                                                canvas(id="rolesChart" width="200" height="200")
                                            .col-md-4.champions-chart
                                                canvas(id="championsChart" width="200" height="200")
                                div(class='mdl-tabs__panel' id='champions')
                                    .container.overview
                                        .row.champions-table-row
                                            .col-md-12
                                                .table-responsive
                                                    table.mdl-data-table.mdl-js-data-table.champions-table#championsTable
                                                        thead
                                                            tr
                                                                th #
                                                                th.mdl-data-table__cell--non-numeric Name
                                                                th Level
                                                                th Points
                                                                th Games Played
                                                                th Winrate
                                                                th KDA
                                                        tbody#championsTable
