extends base
block vars
    - var title = 'Summoner'
block body
            include ./includes/navbar.pug
                .container.layout
                    .row.summoner-row
                        .col-lg-12
                            .col-lg-4
                                div.summoner-icon-container
                                h1 Nick
                            .col-lg-4
                                //img(src='http://vignette4.wikia.nocookie.net/leagueoflegends/images/b/b4/BronzeBadgeSeason2.png/revision/latest?cb=20130928162132')
                            .col-lg-4
                    .row
                        .col-lg-12
                            div(class='mdl-tabs mdl-js-tabs')
                                div(class='mdl-tabs__tab-bar')
                                    a(href='#overview' class='mdl-tabs__tab is-active') Overview
                                    a(href='#champions' class='mdl-tabs__tab') Champions
                                div(class='mdl-tabs__panel is-active' id='overview')
                                    .container
                                        .row
                                            .col-lg-12.role-centered
                                                h1 You are Assasin
                                            .col-lg-12.role-centered
                                                h2 100000
                                            .col-lg-12.icons-container
                                                .outer-icon.icon
                                                    img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png')
                                                    h3 Atrox
                                                    h4 346346
                                                .big-icon.icon
                                                    img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png')
                                                    h3 Atrox
                                                    h4 1215
                                                .outer-icon.icon
                                                    img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png')
                                                    h3 Atrox
                                                    h4 20000
                                div(class='mdl-tabs__panel' id='champions')