extends base
block vars
    - var title = 'Summoner'
block body
            script(src='/static/scripts/summoner.js' async)
            include ./includes/navbar.pug
                .container.layout
                    .row.summoner-row

                            .col-md-6.summoner
                                    img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/588.png' alt='Summoner Icon')
                                    p.summoner-info
                                        span.main-info #{summoner.identity.name}
                                        br
                                        span.sub-info #{summoner.identity.region.toUpperCase()}
                                        br
                                        span.sub-info Gold III
                    .row
                        .col-md-12
                            div(class='mdl-tabs mdl-js-tabs')
                                div(class='mdl-tabs__tab-bar')
                                    a(href='#overview' class='mdl-tabs__tab is-active') Overview
                                    a(href='#champions' class='mdl-tabs__tab') Champions
                                div(class='mdl-tabs__panel is-active' id='overview')
                                    .container.overview
                                        .row.first-row
                                            .col-md-12.role-centered
                                                h1 100000
                                                span.ranking-position #124 in global ranking
                                            .col-md-12.role-centered.mastery
                                                h3 MASTERY SCORE
                                                h3 123
                                            .col-md-6.champions-list
                                                ul
                                                    li.first Bard 
                                                        img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png' class='icon-responsive') 
                                                        span 324958
                                                    li.second Aatrox
                                                        img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png' class='icon-responsive') 
                                                        span 324958
                                                    li.third Soraka
                                                        img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png' class='icon-responsive') 
                                                        span 324958
                                                    li Yasuo
                                                        img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png' class='icon-responsive') 
                                                        span 324958
                                                    li Zed
                                                        img(src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Aatrox.png' class='icon-responsive') 
                                                        span 324958
                                            .col-md-6.roles-list
                                                ul
                                                    li.first  Assassin
                                                        img(src='http://vignette3.wikia.nocookie.net/leagueoflegends/images/3/39/Assassin_icon.jpg/revision/latest/scale-to-width-down/110?cb=20140607013331&format=webp' class='icon-responsive') 
                                                        span 324958
                                                    li.second  Tank
                                                        img(src='http://vignette3.wikia.nocookie.net/leagueoflegends/images/3/39/Assassin_icon.jpg/revision/latest/scale-to-width-down/110?cb=20140607013331&format=webp' class='icon-responsive') 
                                                        span 324958
                                                    li.third  Support
                                                        img(src='http://vignette3.wikia.nocookie.net/leagueoflegends/images/3/39/Assassin_icon.jpg/revision/latest/scale-to-width-down/110?cb=20140607013331&format=webp' class='icon-responsive') 
                                                        span 324958
                                                    li  Tank
                                                        img(src='http://vignette3.wikia.nocookie.net/leagueoflegends/images/3/39/Assassin_icon.jpg/revision/latest/scale-to-width-down/110?cb=20140607013331&format=webp' class='icon-responsive') 
                                                        span 324958
                                                    li  Garen
                                                        img(src='http://vignette3.wikia.nocookie.net/leagueoflegends/images/3/39/Assassin_icon.jpg/revision/latest/scale-to-width-down/110?cb=20140607013331&format=webp' class='icon-responsive') 
                                                        span 324958
                                            .col-md-12.more-stats
                                                button(class='mdl-button mdl-js-button mdl-button--icon' id='scroll')
                                                    i.material-icons keyboard_arrow_down
                                        .row.second-row
                                            .col-md-4
                                                .col-md-12.stats
                                                    div.stats-info
                                                        span 1231
                                                        span.stats-right Games Played
                                                    div.stats-info
                                                        span 436 
                                                        span.stats-right Wins
                                                    div.stats-info
                                                        span 1231
                                                        span.stats-right Games Played
                                                    div.stats-info
                                                        span 436 
                                                        span.stats-right Wins
                                                    div.stats-info
                                                        span 1231
                                                        span.stats-right Games Played
                                                    div.stats-info.last
                                                        span 436 
                                                        span.stats-right Wins
                                            .col-md-8
                                                h1 JAKIE FAJNE GRAFY
                                div(class='mdl-tabs__panel' id='champions')
                                    .container
                                        .row.champions-table-row
                                            .col-md-12
                                                table.mdl-data-table.mdl-js-data-table.champions-table
                                                    thead
                                                        tr
                                                            th #
                                                            th.mdl-data-table__cell--non-numeric Name
                                                            th.mdl-data-table__cell--non-numeric Roles
                                                            th Points
                                                            th Games Played
                                                            th Winrate
                                                            th KDA
                                                    tbody
                                                        tr
                                                            td 1
                                                            td.mdl-data-table__cell--non-numeric Bard
                                                            td.mdl-data-table__cell--non-numeric Assassin
                                                            td 12545
                                                            td 10
                                                            td 65%
                                                            td 10.5
                                                        tr
                                                            td 2
                                                            td.mdl-data-table__cell--non-numeric Bard
                                                            td.mdl-data-table__cell--non-numeric Assassin
                                                            td 12545
                                                            td 10
                                                            td 65%
                                                            td 10.5
                                                        tr
                                                            td 3
                                                            td.mdl-data-table__cell--non-numeric Bard
                                                            td.mdl-data-table__cell--non-numeric Assassin
                                                            td 12545
                                                            td 10
                                                            td 65%
                                                            td 10.5