/* GENERAL STYLES */
html{
    position: relative;
}
body {
    background: url('http://eune.leagueoflegends.com/sites/default/files/upload/bbviahri-banner.jpg') center / cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: rgb(255,255,255);
}
a:link {
  text-decoration: none;
}
a:focus, a:hover {
    color: #23527c !important;
}
#summoners a:hover, a:focus {
    color: rgb(255,255,255);
}
ul {
    -webkit-padding-start: 0;
}
.layout {
    background: #222222;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
}
.mdl-tabs__tab {
    color: white !important;
}
.is-active {
    color: white;
}
.mdl-textfield__label {
    color: white;    
}

/* NAVBAR STYLES */
.mdl-layout__header {
    background: #333333;
}

/* SEARCH STYLES */
.form-container {
    position: relative;
    text-align: center;
}
.page-title {
    text-align: center;
    margin-top: 5%;
}
.mdl-textfield__input, .region-dropdown {
    font-family: inherit;
}
.getmdl-select {
    margin-right: -20%;
}
.region-dropdown {  
    width: 20%;
}
.button {
    margin-top: 10px;
}
.button input {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.mdl-button:hover {
    background: rgba(158,158,158,.8);
}
.header-list {
    text-align: center;
}
.champions-chart {
    text-align: center;
}

/* PROFILE STYLES */
.summoner-row {
    padding-top: 10px;
}
.summoner {
    float: left;
}
.summoner img {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 7px groove;
}
.summoner-info {
    margin-top: 5px;
}
.main-info {
    font-size: 2.5em;
    font-weight: bold;
}
.sub-info {
    font-size: 1.5em;
    font-weight: lighter;
}
.stats {
    font-size: 1.3em;
    background: #595959;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.stats-info {
    margin-top: 8px;
}
.stats-right {
    float: right;
}
.last {
    margin-bottom: 8px;
}

/* OVERVIEW STYLES */
.overview {
    width: 100%;
}

.role-centered {
    text-align: center;
}
.best-champ-column {
    margin-top: 7%;
}
.more-stats {
    text-align: center;
    position: absolute;
    bottom: 0;
}
.first-row ul {
    list-style-type: none;
    font-size: 1.5em;
}
.first-row li {
    margin: 0 0 10px 0;
    padding-right: 5px;
}
.mdl-list__item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: white;
}
.champions-list, .roles-list {
    margin-top: 5%;
}
.icon-responsive {
    max-width: 10%;
    height: auto;
    float: left;
    margin-right: 10px;
}
.icon-role {
    max-width: 11%;
}
.first {
    background-color: rgba(218, 184, 76, 0.6);
    border-radius: 0px 19px 19px 0px;
    -moz-border-radius: 0px 19px 19px 0px;
    -webkit-border-radius: 0px 19px 19px 0px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.second {
    background-color: rgba(230, 232, 250, 0.6);
    border-radius: 0px 19px 19px 0px;
    -moz-border-radius: 0px 19px 19px 0px;
    -webkit-border-radius: 0px 19px 19px 0px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.third {
    background-color: rgba(150, 90, 56, 0.6);
    border-radius: 0px 19px 19px 0px;
    -moz-border-radius: 0px 19px 19px 0px;
    -webkit-border-radius: 0px 19px 19px 0px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.roles-chart {
    text-align: center;
    margin-top: 10px;
}
.champions-chart {
    text-align: center;
    margin-top: 10px;
}
#rolesChart {
    max-width: 350px;
    height: auto;
}
#championsChart {
    max-width: 350px;
}

/* CHAMPIONS STYLES */
.champions-table-row {
    margin-top: 5%;
    margin-bottom: 5%;
}
.champions-table {
    margin: 0 auto;
    background: #595959;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    width: 100%;
    font-size: 1em;
}
.champions-table-img {
    max-width: 15%;
    height: auto;
    margin-right: 5px;
}
.mdl-data-table tbody tr:hover {
    background-color: #404040;
}
.positive {
    color: #16AB39;
}
.negative {
    color: #de3b3b;
}
.yellow {
    color: #EAAE00;
}
.blue {
    color: #2185D0;
}

/* RANKING STYLES */
.tr-link:hover {
    cursor: pointer;
}
.ranking-img {
    max-width: 25%;
    height: auto;
    margin-right: 5px;
}
.tier-data {
    text-align: right !important;
}
.tier-img {
    max-width: 40%;
    height: auto;
}

/* MEDIA QUERIES */
@media (max-device-width: 767px) {
    .summoner {
        margin-top: 5%;
    }
    .division {
        margin-top: 25%;
    }
}

@media (min-width:961px) { 
    .form-container {
        height: 93vh;
    }
    .general-points {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .home-second-row {
        height: 100vh;
        position: relative;
    }
}