/* GENERAL STYLES */
html{
    position: relative;
}
body {
    background: url('http://eune.leagueoflegends.com/sites/default/files/upload/bbviahri-banner.jpg') center / cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
a:link {
  text-decoration: none;
}
a:focus, a:hover {
    color: #23527c !important;
}
.layout {
    background: #222222;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
}
.mdl-tabs__tab {
    color: white !important;
}
.is-active {
    color: white;
}

/* NAVBAR STYLES */
.mdl-layout__header {
    background: #333333;
}

/* SEARCH STYLES */
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mdl-select {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}
.region-dropdown {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin-left: 5%;
    padding: 4px 0;
}

/* PROFILE STYLES */
.summoner-row {
    padding-top: 10px;
}
.summoner img {
    max-height: 100%;
    float: left;
    margin-right: 5px;
    border: 1px groove black;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.summoner-info {
    margin-top: 5%;
}
.main-info {
    font-size: 2.5em;
    font-weight: bold;
}
.sub-info {
    font-size: 1.5em;
    font-weight: lighter;
}
.division {
    text-align: center;
}
.division img {
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}
.stats {
    font-size: 1.3em;
    background: #595959;
    margin-top: 5%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
.stats-info {
    margin-top: 8px;
}
.stats-right {
    float: right;
}
.last {
    margin-bottom: 8px;
}

/* OVERVIEW STYLES */
.role-centered {
    text-align: center;
}
.ranking-position {
    font-size: 1.5em;
}
.icons-container {
    text-align: center;
    margin-top: 10%;
}
.icon {
    display: inline-block;
}
.big-icon {
    margin-left: 5%;
    margin-right: 5%;
}
.big-icon img {
    width: 128px;
    height: 128px;
    border: 4px groove #FFD700;
}
.outer-icon img {
    width: 100px;
    height: 100px;
}
.silver img {
    border: 4px groove #C0C0C0;
}
.bronze img {
    border: 4px groove #965A38;
}
.roles-ranking {
    margin-top: 10%;
    font-size: 2em;
}
.position {
    margin-top: 25px;
    padding-right: 5px;
}

/* CHAMPIONS STYLES */
.champions-table-row {
    margin-top: 5%;
    margin-bottom: 5%;
}
.champions-table {
    margin: 0 auto;
    background: #595959;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
.mdl-data-table tbody tr:hover {
    background-color: #404040;
}

/* MEDIA QUERIES */
@media (max-device-width: 767px) {
    .summoner {
        margin-top: 5%;
    }
    .division {
        margin-top: 25%;
    }
}

@media (min-device-width: 1200px) { 
    .summoner {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
}

