/* GENERAL STYLES */
html{
    position: relative;
}
body {
    background: url('http://eune.leagueoflegends.com/sites/default/files/upload/bbviahri-banner.jpg') center / cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
a:link {
  text-decoration: none;
}
a:focus, a:hover {
    color: #23527c !important;
}
ul {
    -webkit-padding-start: 0;
}
.layout {
    background: #222222;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
}
.mdl-tabs__tab {
    color: white !important;
}
.is-active {
    color: white;
}
.mdl-textfield__label {
    color: white;    
}

/* NAVBAR STYLES */
.mdl-layout__header {
    background: #333333;
}

/* SEARCH STYLES */
.form-container {
    position: relative;
    text-align: center;
}
.page-title {
    text-align: center;
    margin-top: 5%;
}
.mdl-textfield__input, .region-dropdown {
    font-family: inherit;
}
.getmdl-select {
    margin-right: -20%;
}
.region-dropdown {  
    width: 20%;
}
.button {
    margin-top: 10px;
}
.button input {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.list-header {
    margin-top: 3%;
    text-align: center;
}

/* PROFILE STYLES */
.summoner-row {
    padding-top: 10px;
}
.summoner {
    float: left;
}
.summoner img {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 5px groove #CFB53B;
}
.summoner-info {
    margin-top: 5px;
}
.main-info {
    font-size: 2.5em;
    font-weight: bold;
}
.sub-info {
    font-size: 1.5em;
    font-weight: lighter;
}
.stats {
    font-size: 1.3em;
    background: #595959;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.stats-info {
    margin-top: 8px;
}
.stats-right {
    float: right;
}
.last {
    margin-bottom: 8px;
}

/* OVERVIEW STYLES */
.overview {
    width: 100%;
}

.role-centered {
    text-align: center;
}
.best-champ-column {
    margin-top: 7%;
}
.more-stats {
    text-align: center;
    position: absolute;
    bottom: 0;
}
.first-row ul {
    list-style-type: none;
    font-size: 1.5em;
}
.first-row li {
    margin: 0 0 10px 0;
    padding-right: 5px;
}
.champions-list, .roles-list {
    margin-top: 5%;
}
.icon-responsive {
    max-width: 4.5%;
    height: auto;
    float: left;
    margin-right: 5px;
}
.champions-list span {
    float: right;
}
.roles-list span {
    float: right;
}
.first {
    background-color: rgba(207, 181, 59, 0.6);
    border-radius: 0px 19px 19px 0px;
    -moz-border-radius: 0px 19px 19px 0px;
    -webkit-border-radius: 0px 19px 19px 0px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.second {
    background-color: rgba(230, 232, 250, 0.6);
    border-radius: 0px 19px 19px 0px;
    -moz-border-radius: 0px 19px 19px 0px;
    -webkit-border-radius: 0px 19px 19px 0px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.third {
    background-color: rgba(150, 90, 56, 0.6);
    border-radius: 0px 19px 19px 0px;
    -moz-border-radius: 0px 19px 19px 0px;
    -webkit-border-radius: 0px 19px 19px 0px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}


/* CHAMPIONS STYLES */
.champions-table-row {
    margin-top: 5%;
    margin-bottom: 5%;
}
.champions-table {
    margin: 0 auto;
    background: #595959;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
.mdl-data-table tbody tr:hover {
    background-color: #404040;
}

/* MEDIA QUERIES */
@media (max-device-width: 767px) {
    .summoner {
        margin-top: 5%;
    }
    .division {
        margin-top: 25%;
    }
}

@media (min-width:961px) { 
    .form-container {
        height: 93vh;
    }
    .general-points {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .first-row {
        height: 73vh;
        position: relative;
    }
}